
# Locale
d-i debian-installer/locale string en_US
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us


# Network
d-i hw-detect/load_firmware boolean false
d-i netcfg/enable boolean true
d-i netcfg/choose_interface select auto
d-i netcfg/hostname string debian
d-i netcfg/get_hostname string debian
d-i netcfg/get_domain string local


# Apt
d-i apt-setup/enabled boolean false
d-i apt-setup/cdrom/set-first boolean true
d-i apt-setup/cdrom/autodetect boolean true
d-i mirror/country string manual
d-i mirror/http/hostname string mirrors.tuna.tsinghua.edu.cn
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string


# Users/passwords
d-i passwd/root-login boolean true
d-i passwd/make-user boolean true
d-i passwd/root-password password linux
d-i passwd/root-password-again password linux
d-i passwd/user-fullname string kdev
d-i passwd/username string kdev
d-i passwd/user-password password linux
d-i passwd/user-password-again password linux


# Clock
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Shanghai
d-i clock-setup/ntp boolean true


# Choose the target drive on an early_command
d-i partman/early_command string                                \
    BOOT_DEV=$(list-devices disk | head -1) ;                   \
    debconf-set partman-auto/disk $BOOT_DEV


d-i partman-auto/method string regular
d-i partman-basicfilesystems/no_swap boolean false
d-i partman-auto/choose_recipe select custom-no-swap
d-i partman-auto/expert_recipe string       \
        custom-no-swap ::                   \
        1024 512 1024 fat32                 \
            $primary{ }                     \
            method{ efi }                   \
            format{ }                       \
            .                               \
        1000 8000 -1 ext4                   \
            $primary{ }                     \
            method{ format }                \
            format{ }                       \
            use_filesystem{ }               \
            filesystem{ ext4 }              \
            mountpoint{ / }                 \
            .
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/choose_partition select Finish partitioning and write changes to disk


# Packages
d-i base-installer/install-recommends boolean false
d-i base-installer/kernel/image string linux-image-amd64
d-i apt-setup/use_mirror boolean false
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/include string vim sudo
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false


# Boot
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/force-efi-extra-removable boolean true
d-i grub-installer/progress/step_force_efi_removable boolean true
d-i grub-installer/bootdev string default


# Custom late commands
# Generate a random hostname, add the regular user to sudoers
d-i preseed/late_command string                                                     \
    echo "kdev ALL=(ALL) NOPASSWD: ALL" >  /target/etc/sudoers.d/kdev ;


# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note
# How do you want to manage upgrades on this system?
d-i pkgsel/update-policy select none
d-i debian-installer/exit/poweroff boolean true



