#version=DEVEL
# Reboot after installation
reboot
# Use text mode install
text


%packages
@core
kexec-tools

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth0 --hostname=kylinv10 --noipv6 --activate

# Use CDROM installation media
cdrom

# SELinux configuration
selinux --disabled

firstboot --disable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="level=10 console=tty0 console=ttyS0,115200 net.ifnames=0 crashkernel=auto" --location=mbr --driveorder="sda" --boot-drive=sda
autopart --type=plain
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel --drives=sda

# System timezone
timezone Asia/Shanghai

# Root password
rootpw --plaintext linux

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

