#version=RHEL8
# poweroff after installation
poweroff
# Use text mode install
text

harddrive --partition=vdb --dir=/

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth0 --hostname=rockylinux8 --noipv6 --activate

# Use CDROM installation media
# cdrom

# SELinux configuration
selinux --disabled

firstboot --disable
# Do not configure the X Window System
skipx

ignoredisk --only-use=vda
# System bootloader configuration
bootloader --append="level=10 console=tty0 console=ttyAMA0,115200 net.ifnames=0 biosdevname=0 crashkernel=auto" --location=mbr --driveorder="vda" --boot-drive=vda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot/efi --fstype=vfat --size=256
part swap --size 2048
part / --fstype=xfs --size=1 --grow

# System timezone
timezone Asia/Shanghai

# Root password
rootpw --plaintext linux
# User kdev
user --name=kdev --groups=wheel --password=linux --plaintext

%packages
@^minimal-environment
%end

%post
sed -i "s/^#Port 22/Port 22/g" /target/etc/ssh/sshd_config
sed -i "/^#PermitRootLogin/c\PermitRootLogin yes" /target/etc/ssh/sshd_config
echo 'kdev ALL=(ALL) NOPASSWD: ALL' > /target/etc/sudoers.d/kdev
%end