#version=RHEL8
# Reboot after installation
reboot
# Use text mode install
text

#repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%post

sed -e 's|^mirrorlist=|#mirrorlist=|g' \
    -e 's|^#baseurl=http://dl.rockylinux.org/$contentdir|baseurl=https://mirrors.ustc.edu.cn/rocky|g' \
    -i.bak /etc/yum.repos.d/*.repo

%end

%packages
@core
kexec-tools

%end

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=eth0 --hostname=rockylinux9 --noipv6 --activate

# Use CDROM installation media
cdrom

# SELinux configuration
selinux --disabled

firstboot --disable
# Do not configure the X Window System
skipx

ignoredisk --only-use=sda
# System bootloader configuration
bootloader --append="level=10 console=tty0 console=ttyS0,115200 net.ifnames=0 crashkernel=auto" --location=mbr --driveorder="sda" --boot-drive=sda
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part swap --fstype="swap" --size=2048
part / --fstype="ext4" --size=509951

# System timezone
timezone Asia/Shanghai

# Root password
rootpw --plaintext linux

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
