name: Build fnos rootfs

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:

env:
  TZ: America/New_York

jobs:
  kdevbuild:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        include:
          - set_vendor: fnos
            set_version: 1.1.19

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Show environment
        id: basic_info
        run: |
          nproc
          uname -a
          cat /etc/*release
          free -h
          mount
          df -h
          cat /proc/cpuinfo
          cat /proc/meminfo

      - name: Run build in Ubuntu 22.04 container
        working-directory: ${{ github.workspace }}
        run: |
          pwd
          ls -alh
          sudo docker run --rm \
            --privileged \
            --cap-add SYS_ADMIN \
            -v /dev:/dev \
            -v ${{ github.workspace }}:/workspace \
            -w /workspace \
            -e set_vendor=${{ matrix.set_vendor }} \
            -e set_version=${{ matrix.set_version }} \
            ubuntu:22.04 \
            bash -c "
              chmod +x /workspace/kdevbuild/build-fnos-rootfs.sh ;
              /workspace/kdevbuild/build-fnos-rootfs.sh
            "

      - name: List build output
        run: |
          ls -alh  ${{ github.workspace }}/release/*
          md5sum ${{ github.workspace }}/release/*

      - name: Upload Image to Release
        uses: ncipollo/release-action@main
        with:
          tag: fnos-rootfs
          artifacts: ${{ github.workspace }}/release/*
          allowUpdates: true
          removeArtifacts: false
          replacesArtifacts: true
          token: ${{ secrets.GITHUB_TOKEN }}
          body: | # fnos rootfs

            ## 镜像信息

            1. 母盘镜像来源：https://www.fnnas.com/download-arm
            2. 支持架构：x86_64/aarch64

            ## 免责声明

            - **按原样提供**：本镜像不作任何明示或暗示保证，使用风险由用户自行承担
            - **无官方关联**：飞牛fnOS 是独立商业项目，本镜像与飞牛团队无官方关联
            - **生命周期**：基于 Debian 深度开发，版本迭代较快，生产环境建议关注官方安全公告
            - **安全提示**：请定期更新补丁，修改默认密码，配置防火墙，NAS系统请特别注意网络隔离
